<!DOCTYPE html>
<html>
  <head>
    <title>Teste</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="margin-bottom: 10px;">
          <a class="navbar-brand" href="#">ExpressViewEJS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="http://localhost:3000/clientes">Clientes</a>
              <a class="nav-item nav-link active" href="http://localhost:3000/">Default</a>
            </div>
          </div>
    </nav>

    <div class="container">
        <%- content %>
    </div>
  </body>
</html>
