<% extend('../../views/base') %>

<% if(context){ %>
    <div class="alert alert-success"><%= context %></div>
<% } %>    
<form method="POST" action="">
    <input class="form-control" placeholder="Nome Cliente" required name="nome" id="nome"/> 
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>