<% extend('../../views/base') %>

<form method="POST" action="">
    <input class="form-control" hidden name="id" id="id"  value="<%= data.id %>"/>
    <input class="form-control" disabled value="<%= data.id %>"/>
    <input class="form-control" placeholder="Nome Cliente" required name="nome" id="nome" value="<%= data.nome %>"/> 
    <button type="submit" class="btn btn-primary">Alterar</button>
</form>