<% extend('../../views/base') %>

<h1 class="display-4">Clientes <a href="clientes/add"><i class="fa fa-plus-square"></i></a></h1>
<% data.forEach(function(v){ %>
    <p><%= v.nome %> - <%= v.titulo %> <a href="clientes/details/<%= v.idArtigo %>">Detalhes</a></p>
    <hr>
<% }) %>

